:root {
  --main-font-color: #2a2626;
  
  --font-color-white: #fff;
  --color-light-white: #d7ccc0;
  --primary-bg-color-light: #f5f4f0;
  --font-color-orange: #fe8a02;
  --navigation-color-dark: #42413c;
  --font-color-light-brown: #908d8b;
  --primary-bg-color-brown: #b09a81;

  --blue: #1085c5;
}